* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #080808;
  animation: waveDiagonal 10s ease-in-out infinite; /* 8s para um ciclo suave */
  font-family: Arial, sans-serif;
  color: #fff;
}



.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.content {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}