.modal-overlay {
    position: fixed; /* Fixa o modal em toda a tela */
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro semi-transparente */
    padding: 100px;
    display: flex; /* Centraliza o conteúdo */
    justify-content: center;
    z-index: 1; /* Coloca o modal acima de outros elementos */
    
  }

.container-modal{
    width: 600px;
    height: 300px;
   
}