.modal-apresentacao{
    background-color: rgb(13, 14, 14);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}
.titulo-apresentacao {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: 700;
    background: linear-gradient(135deg, #fcfbfb, #333, #0fac0f);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: waveDiagonal 5s ease-in-out infinite;
}

@keyframes waveDiagonal {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.par-boas-vindas{
    font-family: 'Roboto', 'Arial', sans-serif;
    text-align: justify;
    padding: 0px 100px;
    

}
.span-emoji-final {
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    animation: pulsar 1.5s ease-in-out infinite; /* Pulsação contínua */
}

/* Animação de pulsação */
@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Aumenta o tamanho */
    }
    100% {
        transform: scale(1); /* Retorna ao tamanho original */
    }
}

@keyframes decolar {
    0% {
        transform: translate(0, 0) scale(1); /* Começa no lugar e no tamanho normal */
    }
    70% {
        transform: translate(200px, -200px) scale(1.2); /* Move-se para a diagonal (direção superior direita) */
    }
    100% {
        opacity: 0; /* Fica invisível */
        transform: translate(300px, -300px) scale(1.2); /* Continua subindo para o canto superior direito */
    }
}

.decolando {
    animation: decolar 2s ease-in-out forwards;
}
