.skills {
  background-color: #181818;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  color: #fff;
  margin-top: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  height: 340px;
  overflow: hidden;
}
.skills:hover{
  border: 2px solid #f50505;
}
.skills-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Espaço entre os elementos */
  align-items: start;
}
.skills-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skills-text {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 1.5;
}
.skills-container-frontend{
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
 
}
.skills h3{
  font-size: 14px;
  margin: 5px;
}



@keyframes marquee {
  0% {
    transform: translate(100%);
  }
 
}
.skills-img {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-img img{
  width: 60px;
  margin: 5px;
  border-radius: 10px;
}
.skills-img img:hover{
  transform: scale(1.3);
  transition: 0.5s;
  cursor: pointer;
  border: #f50505 2px solid;
}